$primary:          #313C38;
$primary-light:    #3C4A45;
$accent:           #FF1E0A;
$contrast:         #FF4D3D;

$dark:             #727272;
$mid:              #ABABAB;
$light:            #ECECEC;
$success:          #4CAf50;
$danger:           #F44336;
